<?php
/**
 * DefaultApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Amadeus Travel Innovation Sandbox
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * DefaultApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DefaultApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return DefaultApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation airportAutocomplete
     *
     * Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param string $country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param bool $all_airports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\AirportAutocompleteResponse[]
     */
    public function airportAutocomplete($apikey, $term, $country = 'US', $all_airports = 'false')
    {
        list($response) = $this->airportAutocompleteWithHttpInfo($apikey, $term, $country, $all_airports);
        return $response;
    }

    /**
     * Operation airportAutocompleteWithHttpInfo
     *
     * Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param string $country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param bool $all_airports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\AirportAutocompleteResponse[], HTTP status code, HTTP response headers (array of strings)
     */
    public function airportAutocompleteWithHttpInfo($apikey, $term, $country = 'US', $all_airports = 'false')
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling airportAutocomplete');
        }
        // verify the required parameter 'term' is set
        if ($term === null) {
            throw new \InvalidArgumentException('Missing the required parameter $term when calling airportAutocomplete');
        }
        // parse inputs
        $resourcePath = "/airports/autocomplete";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($term !== null) {
            $queryParams['term'] = $this->apiClient->getSerializer()->toQueryValue($term);
        }
        // query params
        if ($country !== null) {
            $queryParams['country'] = $this->apiClient->getSerializer()->toQueryValue($country);
        }
        // query params
        if ($all_airports !== null) {
            $queryParams['all_airports'] = $this->apiClient->getSerializer()->toQueryValue($all_airports);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\AirportAutocompleteResponse[]',
                '/airports/autocomplete'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\AirportAutocompleteResponse[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\AirportAutocompleteResponse[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation carRentalAirportSearch
     *
     * Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param string $pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param string $lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param string $provider 2 character car rental provider code. You may provide this parameter more than once. (optional, default to ZI)
     * @param string $rate_class Allows to request specific rate types. (optional, default to ALL)
     * @param string $rate_plan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param string $rate_filter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param string[] $vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CarSearchResponse
     */
    public function carRentalAirportSearch($apikey, $location, $pick_up, $drop_off, $lang = 'EN', $currency = 'USD', $provider = 'ZI', $rate_class = 'ALL', $rate_plan = 'DAILY', $rate_filter = 'ESTIMATED', $vehicle = null)
    {
        list($response) = $this->carRentalAirportSearchWithHttpInfo($apikey, $location, $pick_up, $drop_off, $lang, $currency, $provider, $rate_class, $rate_plan, $rate_filter, $vehicle);
        return $response;
    }

    /**
     * Operation carRentalAirportSearchWithHttpInfo
     *
     * Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param string $pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param string $lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param string $provider 2 character car rental provider code. You may provide this parameter more than once. (optional, default to ZI)
     * @param string $rate_class Allows to request specific rate types. (optional, default to ALL)
     * @param string $rate_plan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param string $rate_filter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param string[] $vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CarSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function carRentalAirportSearchWithHttpInfo($apikey, $location, $pick_up, $drop_off, $lang = 'EN', $currency = 'USD', $provider = 'ZI', $rate_class = 'ALL', $rate_plan = 'DAILY', $rate_filter = 'ESTIMATED', $vehicle = null)
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling carRentalAirportSearch');
        }
        // verify the required parameter 'location' is set
        if ($location === null) {
            throw new \InvalidArgumentException('Missing the required parameter $location when calling carRentalAirportSearch');
        }
        // verify the required parameter 'pick_up' is set
        if ($pick_up === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pick_up when calling carRentalAirportSearch');
        }
        // verify the required parameter 'drop_off' is set
        if ($drop_off === null) {
            throw new \InvalidArgumentException('Missing the required parameter $drop_off when calling carRentalAirportSearch');
        }
        // parse inputs
        $resourcePath = "/cars/search-airport";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($location !== null) {
            $queryParams['location'] = $this->apiClient->getSerializer()->toQueryValue($location);
        }
        // query params
        if ($pick_up !== null) {
            $queryParams['pick_up'] = $this->apiClient->getSerializer()->toQueryValue($pick_up);
        }
        // query params
        if ($drop_off !== null) {
            $queryParams['drop_off'] = $this->apiClient->getSerializer()->toQueryValue($drop_off);
        }
        // query params
        if ($lang !== null) {
            $queryParams['lang'] = $this->apiClient->getSerializer()->toQueryValue($lang);
        }
        // query params
        if ($currency !== null) {
            $queryParams['currency'] = $this->apiClient->getSerializer()->toQueryValue($currency);
        }
        // query params
        if ($provider !== null) {
            $queryParams['provider'] = $this->apiClient->getSerializer()->toQueryValue($provider);
        }
        // query params
        if ($rate_class !== null) {
            $queryParams['rate_class'] = $this->apiClient->getSerializer()->toQueryValue($rate_class);
        }
        // query params
        if ($rate_plan !== null) {
            $queryParams['rate_plan'] = $this->apiClient->getSerializer()->toQueryValue($rate_plan);
        }
        // query params
        if ($rate_filter !== null) {
            $queryParams['rate_filter'] = $this->apiClient->getSerializer()->toQueryValue($rate_filter);
        }
        // query params
        if (is_array($vehicle)) {
            $vehicle = $this->apiClient->getSerializer()->serializeCollection($vehicle, 'multi', true);
        }
        if ($vehicle !== null) {
            $queryParams['vehicle'] = $this->apiClient->getSerializer()->toQueryValue($vehicle);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CarSearchResponse',
                '/cars/search-airport'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CarSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CarSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation carRentalGeosearch
     *
     * Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param float $latitude Latitude of the center of the search. (required)
     * @param float $longitude Longitude of the center of the search. (required)
     * @param int $radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param string $pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param string $lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param string $provider 2 character car rental provider code. You may provide this parameter more than once. (optional, default to ZI)
     * @param string $rate_class Allows to request specific rate types. (optional, default to ALL)
     * @param string $rate_plan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param string $rate_filter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param string[] $vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CarSearchResponse
     */
    public function carRentalGeosearch($apikey, $latitude, $longitude, $radius, $pick_up, $drop_off, $lang = 'EN', $currency = 'USD', $provider = 'ZI', $rate_class = 'ALL', $rate_plan = 'DAILY', $rate_filter = 'ESTIMATED', $vehicle = null)
    {
        list($response) = $this->carRentalGeosearchWithHttpInfo($apikey, $latitude, $longitude, $radius, $pick_up, $drop_off, $lang, $currency, $provider, $rate_class, $rate_plan, $rate_filter, $vehicle);
        return $response;
    }

    /**
     * Operation carRentalGeosearchWithHttpInfo
     *
     * Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param float $latitude Latitude of the center of the search. (required)
     * @param float $longitude Longitude of the center of the search. (required)
     * @param int $radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param string $pick_up Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $drop_off Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param string $lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param string $provider 2 character car rental provider code. You may provide this parameter more than once. (optional, default to ZI)
     * @param string $rate_class Allows to request specific rate types. (optional, default to ALL)
     * @param string $rate_plan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param string $rate_filter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param string[] $vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CarSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function carRentalGeosearchWithHttpInfo($apikey, $latitude, $longitude, $radius, $pick_up, $drop_off, $lang = 'EN', $currency = 'USD', $provider = 'ZI', $rate_class = 'ALL', $rate_plan = 'DAILY', $rate_filter = 'ESTIMATED', $vehicle = null)
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling carRentalGeosearch');
        }
        // verify the required parameter 'latitude' is set
        if ($latitude === null) {
            throw new \InvalidArgumentException('Missing the required parameter $latitude when calling carRentalGeosearch');
        }
        // verify the required parameter 'longitude' is set
        if ($longitude === null) {
            throw new \InvalidArgumentException('Missing the required parameter $longitude when calling carRentalGeosearch');
        }
        // verify the required parameter 'radius' is set
        if ($radius === null) {
            throw new \InvalidArgumentException('Missing the required parameter $radius when calling carRentalGeosearch');
        }
        // verify the required parameter 'pick_up' is set
        if ($pick_up === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pick_up when calling carRentalGeosearch');
        }
        // verify the required parameter 'drop_off' is set
        if ($drop_off === null) {
            throw new \InvalidArgumentException('Missing the required parameter $drop_off when calling carRentalGeosearch');
        }
        // parse inputs
        $resourcePath = "/cars/search-circle";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($latitude !== null) {
            $queryParams['latitude'] = $this->apiClient->getSerializer()->toQueryValue($latitude);
        }
        // query params
        if ($longitude !== null) {
            $queryParams['longitude'] = $this->apiClient->getSerializer()->toQueryValue($longitude);
        }
        // query params
        if ($radius !== null) {
            $queryParams['radius'] = $this->apiClient->getSerializer()->toQueryValue($radius);
        }
        // query params
        if ($pick_up !== null) {
            $queryParams['pick_up'] = $this->apiClient->getSerializer()->toQueryValue($pick_up);
        }
        // query params
        if ($drop_off !== null) {
            $queryParams['drop_off'] = $this->apiClient->getSerializer()->toQueryValue($drop_off);
        }
        // query params
        if ($lang !== null) {
            $queryParams['lang'] = $this->apiClient->getSerializer()->toQueryValue($lang);
        }
        // query params
        if ($currency !== null) {
            $queryParams['currency'] = $this->apiClient->getSerializer()->toQueryValue($currency);
        }
        // query params
        if ($provider !== null) {
            $queryParams['provider'] = $this->apiClient->getSerializer()->toQueryValue($provider);
        }
        // query params
        if ($rate_class !== null) {
            $queryParams['rate_class'] = $this->apiClient->getSerializer()->toQueryValue($rate_class);
        }
        // query params
        if ($rate_plan !== null) {
            $queryParams['rate_plan'] = $this->apiClient->getSerializer()->toQueryValue($rate_plan);
        }
        // query params
        if ($rate_filter !== null) {
            $queryParams['rate_filter'] = $this->apiClient->getSerializer()->toQueryValue($rate_filter);
        }
        // query params
        if (is_array($vehicle)) {
            $vehicle = $this->apiClient->getSerializer()->serializeCollection($vehicle, 'multi', true);
        }
        if ($vehicle !== null) {
            $queryParams['vehicle'] = $this->apiClient->getSerializer()->toQueryValue($vehicle);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CarSearchResponse',
                '/cars/search-circle'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CarSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CarSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation flightAffiliateSearch
     *
     * Flight Affiliate Search - Use Travel Audience Connect's affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! (required)
     * @param string $return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param int $adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param int $children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param int $infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param string[] $include_merchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param string[] $exclude_merchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param int $max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param bool $mobile Setting this to true will show mobile web deeplinks (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\AffiliateSearchResponse
     */
    public function flightAffiliateSearch($apikey, $origin, $destination, $departure_date, $return_date = '2017-08-28', $adults = '1', $children = '0', $infants = '0', $include_merchants = null, $exclude_merchants = null, $max_price = '980', $currency = 'EUR', $mobile = 'false')
    {
        list($response) = $this->flightAffiliateSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $return_date, $adults, $children, $infants, $include_merchants, $exclude_merchants, $max_price, $currency, $mobile);
        return $response;
    }

    /**
     * Operation flightAffiliateSearchWithHttpInfo
     *
     * Flight Affiliate Search - Use Travel Audience Connect's affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! (required)
     * @param string $return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param int $adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param int $children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param int $infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param string[] $include_merchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param string[] $exclude_merchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param int $max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param bool $mobile Setting this to true will show mobile web deeplinks (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\AffiliateSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function flightAffiliateSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $return_date = '2017-08-28', $adults = '1', $children = '0', $infants = '0', $include_merchants = null, $exclude_merchants = null, $max_price = '980', $currency = 'EUR', $mobile = 'false')
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling flightAffiliateSearch');
        }
        // verify the required parameter 'origin' is set
        if ($origin === null) {
            throw new \InvalidArgumentException('Missing the required parameter $origin when calling flightAffiliateSearch');
        }
        // verify the required parameter 'destination' is set
        if ($destination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $destination when calling flightAffiliateSearch');
        }
        // verify the required parameter 'departure_date' is set
        if ($departure_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $departure_date when calling flightAffiliateSearch');
        }
        // parse inputs
        $resourcePath = "/flights/affiliate-search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($origin !== null) {
            $queryParams['origin'] = $this->apiClient->getSerializer()->toQueryValue($origin);
        }
        // query params
        if ($destination !== null) {
            $queryParams['destination'] = $this->apiClient->getSerializer()->toQueryValue($destination);
        }
        // query params
        if ($departure_date !== null) {
            $queryParams['departure_date'] = $this->apiClient->getSerializer()->toQueryValue($departure_date);
        }
        // query params
        if ($return_date !== null) {
            $queryParams['return_date'] = $this->apiClient->getSerializer()->toQueryValue($return_date);
        }
        // query params
        if ($adults !== null) {
            $queryParams['adults'] = $this->apiClient->getSerializer()->toQueryValue($adults);
        }
        // query params
        if ($children !== null) {
            $queryParams['children'] = $this->apiClient->getSerializer()->toQueryValue($children);
        }
        // query params
        if ($infants !== null) {
            $queryParams['infants'] = $this->apiClient->getSerializer()->toQueryValue($infants);
        }
        // query params
        if (is_array($include_merchants)) {
            $include_merchants = $this->apiClient->getSerializer()->serializeCollection($include_merchants, 'csv', true);
        }
        if ($include_merchants !== null) {
            $queryParams['include_merchants'] = $this->apiClient->getSerializer()->toQueryValue($include_merchants);
        }
        // query params
        if (is_array($exclude_merchants)) {
            $exclude_merchants = $this->apiClient->getSerializer()->serializeCollection($exclude_merchants, 'csv', true);
        }
        if ($exclude_merchants !== null) {
            $queryParams['exclude_merchants'] = $this->apiClient->getSerializer()->toQueryValue($exclude_merchants);
        }
        // query params
        if ($max_price !== null) {
            $queryParams['max_price'] = $this->apiClient->getSerializer()->toQueryValue($max_price);
        }
        // query params
        if ($currency !== null) {
            $queryParams['currency'] = $this->apiClient->getSerializer()->toQueryValue($currency);
        }
        // query params
        if ($mobile !== null) {
            $queryParams['mobile'] = $this->apiClient->getSerializer()->toQueryValue($mobile);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\AffiliateSearchResponse',
                '/flights/affiliate-search'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\AffiliateSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\AffiliateSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation flightExtensiveSearch
     *
     * Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as \"When is the best date to fly...\".  It's built on Amadeus' Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. (optional, default to 2017-08-16--2017-08-26)
     * @param bool $one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param string $duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param bool $direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param string $max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional, default to 950)
     * @param string $aggregation_mode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional, default to DAY)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ExtremeSearchResponse
     */
    public function flightExtensiveSearch($apikey, $origin, $destination, $departure_date = '2017-08-16--2017-08-26', $one_way = 'false', $duration = '1--15', $direct = 'false', $max_price = '950', $aggregation_mode = 'DAY')
    {
        list($response) = $this->flightExtensiveSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $one_way, $duration, $direct, $max_price, $aggregation_mode);
        return $response;
    }

    /**
     * Operation flightExtensiveSearchWithHttpInfo
     *
     * Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as \"When is the best date to fly...\".  It's built on Amadeus' Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. (optional, default to 2017-08-16--2017-08-26)
     * @param bool $one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param string $duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param bool $direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param string $max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional, default to 950)
     * @param string $aggregation_mode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional, default to DAY)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ExtremeSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function flightExtensiveSearchWithHttpInfo($apikey, $origin, $destination, $departure_date = '2017-08-16--2017-08-26', $one_way = 'false', $duration = '1--15', $direct = 'false', $max_price = '950', $aggregation_mode = 'DAY')
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling flightExtensiveSearch');
        }
        // verify the required parameter 'origin' is set
        if ($origin === null) {
            throw new \InvalidArgumentException('Missing the required parameter $origin when calling flightExtensiveSearch');
        }
        // verify the required parameter 'destination' is set
        if ($destination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $destination when calling flightExtensiveSearch');
        }
        // parse inputs
        $resourcePath = "/flights/extensive-search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($origin !== null) {
            $queryParams['origin'] = $this->apiClient->getSerializer()->toQueryValue($origin);
        }
        // query params
        if ($destination !== null) {
            $queryParams['destination'] = $this->apiClient->getSerializer()->toQueryValue($destination);
        }
        // query params
        if ($departure_date !== null) {
            $queryParams['departure_date'] = $this->apiClient->getSerializer()->toQueryValue($departure_date);
        }
        // query params
        if ($one_way !== null) {
            $queryParams['one-way'] = $this->apiClient->getSerializer()->toQueryValue($one_way);
        }
        // query params
        if ($duration !== null) {
            $queryParams['duration'] = $this->apiClient->getSerializer()->toQueryValue($duration);
        }
        // query params
        if ($direct !== null) {
            $queryParams['direct'] = $this->apiClient->getSerializer()->toQueryValue($direct);
        }
        // query params
        if ($max_price !== null) {
            $queryParams['max_price'] = $this->apiClient->getSerializer()->toQueryValue($max_price);
        }
        // query params
        if ($aggregation_mode !== null) {
            $queryParams['aggregation_mode'] = $this->apiClient->getSerializer()->toQueryValue($aggregation_mode);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ExtremeSearchResponse',
                '/flights/extensive-search'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ExtremeSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ExtremeSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation flightInspirationSearch
     *
     * Flight Inspiration Search - Go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question \"Where can I go within a given travel budget?\"
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (optional, default to LAX)
     * @param string $departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. (optional, default to 2017-08-16--2017-08-26)
     * @param bool $one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param string $duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param bool $direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param string $max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional)
     * @param string $aggregation_mode Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ExtremeSearchResponse
     */
    public function flightInspirationSearch($apikey, $origin, $destination = 'LAX', $departure_date = '2017-08-16--2017-08-26', $one_way = 'false', $duration = '1--15', $direct = 'false', $max_price = null, $aggregation_mode = null)
    {
        list($response) = $this->flightInspirationSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $one_way, $duration, $direct, $max_price, $aggregation_mode);
        return $response;
    }

    /**
     * Operation flightInspirationSearchWithHttpInfo
     *
     * Flight Inspiration Search - Go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question \"Where can I go within a given travel budget?\"
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (optional, default to LAX)
     * @param string $departure_date Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. (optional, default to 2017-08-16--2017-08-26)
     * @param bool $one_way When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param string $duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param bool $direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param string $max_price Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional)
     * @param string $aggregation_mode Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ExtremeSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function flightInspirationSearchWithHttpInfo($apikey, $origin, $destination = 'LAX', $departure_date = '2017-08-16--2017-08-26', $one_way = 'false', $duration = '1--15', $direct = 'false', $max_price = null, $aggregation_mode = null)
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling flightInspirationSearch');
        }
        // verify the required parameter 'origin' is set
        if ($origin === null) {
            throw new \InvalidArgumentException('Missing the required parameter $origin when calling flightInspirationSearch');
        }
        // parse inputs
        $resourcePath = "/flights/inspiration-search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($origin !== null) {
            $queryParams['origin'] = $this->apiClient->getSerializer()->toQueryValue($origin);
        }
        // query params
        if ($destination !== null) {
            $queryParams['destination'] = $this->apiClient->getSerializer()->toQueryValue($destination);
        }
        // query params
        if ($departure_date !== null) {
            $queryParams['departure_date'] = $this->apiClient->getSerializer()->toQueryValue($departure_date);
        }
        // query params
        if ($one_way !== null) {
            $queryParams['one-way'] = $this->apiClient->getSerializer()->toQueryValue($one_way);
        }
        // query params
        if ($duration !== null) {
            $queryParams['duration'] = $this->apiClient->getSerializer()->toQueryValue($duration);
        }
        // query params
        if ($direct !== null) {
            $queryParams['direct'] = $this->apiClient->getSerializer()->toQueryValue($direct);
        }
        // query params
        if ($max_price !== null) {
            $queryParams['max_price'] = $this->apiClient->getSerializer()->toQueryValue($max_price);
        }
        // query params
        if ($aggregation_mode !== null) {
            $queryParams['aggregation_mode'] = $this->apiClient->getSerializer()->toQueryValue($aggregation_mode);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ExtremeSearchResponse',
                '/flights/inspiration-search'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ExtremeSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ExtremeSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation flightLowFareSearch
     *
     * Flight Low-Fare Search - Find the cheapest one way or return itineraries and fares between two airports at specific dates.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date The date on which the traveler will depart from the origin to go to the destination. You can specify a date range of up to 2 days. For a larger date range, use the Extensive Search. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format and separated by --. (required)
     * @param string $return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found. You can specify a date range of up to 2 days. (optional, default to 2017-08-28)
     * @param string $arrive_by The datetime by which the outbound flight should arrive, based on local time at the destination airport.  Date-times are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-ddTHH:mm date format (optional, default to 2017-08-25T16:00)
     * @param string $return_by The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter (optional, default to 2017-08-28T08:00)
     * @param int $adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param int $children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param int $infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param string[] $include_airlines If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;. (optional)
     * @param string[] $exclude_airlines If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;. (optional)
     * @param bool $nonstop Setting this to true will find only flights that do not require the passenger to change from one flight to another (optional, default to false)
     * @param int $max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to USD)
     * @param string $travel_class Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher (optional, default to ECONOMY)
     * @param int $number_of_results The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed. (optional, default to 5)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\LowFareSearchResponse
     */
    public function flightLowFareSearch($apikey, $origin, $destination, $departure_date, $return_date = '2017-08-28', $arrive_by = '2017-08-25T16:00', $return_by = '2017-08-28T08:00', $adults = '1', $children = '0', $infants = '0', $include_airlines = null, $exclude_airlines = null, $nonstop = 'false', $max_price = '980', $currency = 'USD', $travel_class = 'ECONOMY', $number_of_results = '5')
    {
        list($response) = $this->flightLowFareSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $return_date, $arrive_by, $return_by, $adults, $children, $infants, $include_airlines, $exclude_airlines, $nonstop, $max_price, $currency, $travel_class, $number_of_results);
        return $response;
    }

    /**
     * Operation flightLowFareSearchWithHttpInfo
     *
     * Flight Low-Fare Search - Find the cheapest one way or return itineraries and fares between two airports at specific dates.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param string $departure_date The date on which the traveler will depart from the origin to go to the destination. You can specify a date range of up to 2 days. For a larger date range, use the Extensive Search. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format and separated by --. (required)
     * @param string $return_date The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found. You can specify a date range of up to 2 days. (optional, default to 2017-08-28)
     * @param string $arrive_by The datetime by which the outbound flight should arrive, based on local time at the destination airport.  Date-times are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-ddTHH:mm date format (optional, default to 2017-08-25T16:00)
     * @param string $return_by The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter (optional, default to 2017-08-28T08:00)
     * @param int $adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param int $children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param int $infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param string[] $include_airlines If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;. (optional)
     * @param string[] $exclude_airlines If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt;. (optional)
     * @param bool $nonstop Setting this to true will find only flights that do not require the passenger to change from one flight to another (optional, default to false)
     * @param int $max_price Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to USD)
     * @param string $travel_class Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher (optional, default to ECONOMY)
     * @param int $number_of_results The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed. (optional, default to 5)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\LowFareSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function flightLowFareSearchWithHttpInfo($apikey, $origin, $destination, $departure_date, $return_date = '2017-08-28', $arrive_by = '2017-08-25T16:00', $return_by = '2017-08-28T08:00', $adults = '1', $children = '0', $infants = '0', $include_airlines = null, $exclude_airlines = null, $nonstop = 'false', $max_price = '980', $currency = 'USD', $travel_class = 'ECONOMY', $number_of_results = '5')
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling flightLowFareSearch');
        }
        // verify the required parameter 'origin' is set
        if ($origin === null) {
            throw new \InvalidArgumentException('Missing the required parameter $origin when calling flightLowFareSearch');
        }
        // verify the required parameter 'destination' is set
        if ($destination === null) {
            throw new \InvalidArgumentException('Missing the required parameter $destination when calling flightLowFareSearch');
        }
        // verify the required parameter 'departure_date' is set
        if ($departure_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $departure_date when calling flightLowFareSearch');
        }
        // parse inputs
        $resourcePath = "/flights/low-fare-search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($origin !== null) {
            $queryParams['origin'] = $this->apiClient->getSerializer()->toQueryValue($origin);
        }
        // query params
        if ($destination !== null) {
            $queryParams['destination'] = $this->apiClient->getSerializer()->toQueryValue($destination);
        }
        // query params
        if ($departure_date !== null) {
            $queryParams['departure_date'] = $this->apiClient->getSerializer()->toQueryValue($departure_date);
        }
        // query params
        if ($return_date !== null) {
            $queryParams['return_date'] = $this->apiClient->getSerializer()->toQueryValue($return_date);
        }
        // query params
        if ($arrive_by !== null) {
            $queryParams['arrive_by'] = $this->apiClient->getSerializer()->toQueryValue($arrive_by);
        }
        // query params
        if ($return_by !== null) {
            $queryParams['return_by'] = $this->apiClient->getSerializer()->toQueryValue($return_by);
        }
        // query params
        if ($adults !== null) {
            $queryParams['adults'] = $this->apiClient->getSerializer()->toQueryValue($adults);
        }
        // query params
        if ($children !== null) {
            $queryParams['children'] = $this->apiClient->getSerializer()->toQueryValue($children);
        }
        // query params
        if ($infants !== null) {
            $queryParams['infants'] = $this->apiClient->getSerializer()->toQueryValue($infants);
        }
        // query params
        if (is_array($include_airlines)) {
            $include_airlines = $this->apiClient->getSerializer()->serializeCollection($include_airlines, 'csv', true);
        }
        if ($include_airlines !== null) {
            $queryParams['include_airlines'] = $this->apiClient->getSerializer()->toQueryValue($include_airlines);
        }
        // query params
        if (is_array($exclude_airlines)) {
            $exclude_airlines = $this->apiClient->getSerializer()->serializeCollection($exclude_airlines, 'csv', true);
        }
        if ($exclude_airlines !== null) {
            $queryParams['exclude_airlines'] = $this->apiClient->getSerializer()->toQueryValue($exclude_airlines);
        }
        // query params
        if ($nonstop !== null) {
            $queryParams['nonstop'] = $this->apiClient->getSerializer()->toQueryValue($nonstop);
        }
        // query params
        if ($max_price !== null) {
            $queryParams['max_price'] = $this->apiClient->getSerializer()->toQueryValue($max_price);
        }
        // query params
        if ($currency !== null) {
            $queryParams['currency'] = $this->apiClient->getSerializer()->toQueryValue($currency);
        }
        // query params
        if ($travel_class !== null) {
            $queryParams['travel_class'] = $this->apiClient->getSerializer()->toQueryValue($travel_class);
        }
        // query params
        if ($number_of_results !== null) {
            $queryParams['number_of_results'] = $this->apiClient->getSerializer()->toQueryValue($number_of_results);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\LowFareSearchResponse',
                '/flights/low-fare-search'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\LowFareSearchResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\LowFareSearchResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation flightTrafficAPI
     *
     * Flight Traffic API - Find the true origin and destination traffic summary between two journey points over a specified period. This can help you answer questions like \"What cities are people coming from to visit Los Angeles between January through April of 2015\"
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $period Range of periods for which flight traffic information is required. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single period is specified, only that period will be displayed. Only periods from 2011-01 up to previous month of the current year are valid. Future periods are not supported. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going. (optional, default to LAX)
     * @param int $number_of_results_per_period The maximum number of destinations to return for each period. Destinations are ordered by dates and number of travelers. The maximum number of destinations per period returned is 50 (optional, default to 5)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\FlightTrafficSearchResult[]
     */
    public function flightTrafficAPI($apikey, $period, $origin, $destination = 'LAX', $number_of_results_per_period = '5')
    {
        list($response) = $this->flightTrafficAPIWithHttpInfo($apikey, $period, $origin, $destination, $number_of_results_per_period);
        return $response;
    }

    /**
     * Operation flightTrafficAPIWithHttpInfo
     *
     * Flight Traffic API - Find the true origin and destination traffic summary between two journey points over a specified period. This can help you answer questions like \"What cities are people coming from to visit Los Angeles between January through April of 2015\"
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $period Range of periods for which flight traffic information is required. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single period is specified, only that period will be displayed. Only periods from 2011-01 up to previous month of the current year are valid. Future periods are not supported. (required)
     * @param string $origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. (required)
     * @param string $destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going. (optional, default to LAX)
     * @param int $number_of_results_per_period The maximum number of destinations to return for each period. Destinations are ordered by dates and number of travelers. The maximum number of destinations per period returned is 50 (optional, default to 5)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\FlightTrafficSearchResult[], HTTP status code, HTTP response headers (array of strings)
     */
    public function flightTrafficAPIWithHttpInfo($apikey, $period, $origin, $destination = 'LAX', $number_of_results_per_period = '5')
    {
        // verify the required parameter 'apikey' is set
        if ($apikey === null) {
            throw new \InvalidArgumentException('Missing the required parameter $apikey when calling flightTrafficAPI');
        }
        // verify the required parameter 'period' is set
        if ($period === null) {
            throw new \InvalidArgumentException('Missing the required parameter $period when calling flightTrafficAPI');
        }
        // verify the required parameter 'origin' is set
        if ($origin === null) {
            throw new \InvalidArgumentException('Missing the required parameter $origin when calling flightTrafficAPI');
        }
        // parse inputs
        $resourcePath = "/travel-intelligence/flight-traffic";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($apikey !== null) {
            $queryParams['apikey'] = $this->apiClient->getSerializer()->toQueryValue($apikey);
        }
        // query params
        if ($period !== null) {
            $queryParams['period'] = $this->apiClient->getSerializer()->toQueryValue($period);
        }
        // query params
        if ($origin !== null) {
            $queryParams['origin'] = $this->apiClient->getSerializer()->toQueryValue($origin);
        }
        // query params
        if ($destination !== null) {
            $queryParams['destination'] = $this->apiClient->getSerializer()->toQueryValue($destination);
        }
        // query params
        if ($number_of_results_per_period !== null) {
            $queryParams['number_of_results_per_period'] = $this->apiClient->getSerializer()->toQueryValue($number_of_results_per_period);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FlightTrafficSearchResult[]',
                '/travel-intelligence/flight-traffic'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FlightTrafficSearchResult[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FlightTrafficSearchResult[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation hotelAirportSearch
     *
     * Hotel Airport Search - Locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $location &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA airport code&lt;/a&gt; for hotel availability is required requested. (required)
     * @param string $check_in Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $check_out Date on which the guest will end their stay in the hotel. (required)
     * @param int $radius Radius around the center to look for hotels in kilometers (km). (optional, default to 42)
     * @param string $lang The preferred language of the content related to each hotel. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to USD)
     * @param string $chain Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code. (optional, default to 6C)
     * @param float $max_rate The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates. (optional, default to 500)
     * @param int $number_of_results The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned. (optional, default to 20)
     * @param bool $all_rooms This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned. (optional, default to false)
     * @param bool $show_sold_out This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties) (optional, default to false)
     * @param string[] $amenity Hotel &lt;a href&#x3D;\&quot;hotels-api-supported-amenities-filter\&quot;&gt;amenities filter&lt;/a&gt; to search narrow down hotels with certain amenities. For example&amp;colon; amenity&#x3D;POOL. (Note: multiple amenities can be used in searches: amenity&#x3D;PARKING&amp;amenity&#x3D;RESTAURANT&amp;amenity&#x3D;PETS_ALLOWED). (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\HotelSearchResponse
     */
    public function hotelAirportSearch($apikey, $location, $check_in, $check_out, $radius = '42', $lang = 'EN', $currency = 'USD', $chain = '6C', $max_rate = '500', $number_of_results = '20', $all_rooms = 'false', $show_sold_out = 'false', $amenity = null)
    {
        list($response) = $this->hotelAirportSearchWithHttpInfo($apikey, $location, $check_in, $check_out, $radius, $lang, $currency, $chain, $max_rate, $number_of_results, $all_rooms, $show_sold_out, $amenity);
        return $response;
    }

    /**
     * Operation hotelAirportSearchWithHttpInfo
     *
     * Hotel Airport Search - Locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.
     *
     * @param string $apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param string $location &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA airport code&lt;/a&gt; for hotel availability is required requested. (required)
     * @param string $check_in Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param string $check_out Date on which the guest will end their stay in the hotel. (required)
     * @param int $radius Radius around the center to look for hotels in kilometers (km). (optional, default to 42)
     * @param string $lang The preferred language of the content related to each hotel. Content will be returned in this language if available. (optional, default to EN)
     * @param string $currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to USD)
     * @param string $chain Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code. (optional, default to 6C)
     * @param float $max_rate The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates. (optional, default to 500)
     * @param int $number_of_results The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned. (optional, default to 20)
     * @param bool $all_rooms This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned. (optional, default to false)
     * @param bool $show_sold_out This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties) (optional, default to false)
     * @param string[] $amenity Hotel &lt;a href&#x3D;\&quot;hotels-api-supported-amenities-filter\&quot;&gt;amenities filter&lt;/a&gt; to search narrow down hotels with certain amenities. For example&amp;colon; amenity&#x3D;POOL. (Note: multiple amenities can be used in searches: amenity&#x3D;PARKING&amp;amenity&#x3D;RESTAURANT&amp;amenity&#x3D;PETS_ALLOWED). (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\HotelSearchResponse, HTTP status code, HTTP response headers (array of strings)
     */
[...]
